# Ignore context directories
context_*/

# Ignore guideline files
*guideline.md

CLAUDE.md
GEMINI.md

.obsidian/

# LaTeX
*.aux

*.dvi

*.log

*.out

*.synctex.gz

*.tex~

*.toc

*.tex
# Python

*.py

my_preferred_answer/

